@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="login-home-wrapper">
    <div class="login-home-box">
        <h1 class="main-title">Project Approval System</h1>
        <p class="main-subtitle">Welcome to the Admin Module of the PAS system.</p>

        <a asp-page="/AdminLogin" class="btn btn-dark btn-lg px-4">
            Go to Admin Login
        </a>
    </div>
</div>